NEXTJS_ENV=development

# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Minimax
MINIMAX_API_KEY=

# Blizzard
BLIZZARD_CLIENT_ID=
BLIZZARD_CLIENT_SECRET=

# Warcraft Logs
WCL_CLIENT_ID=
WCL_CLIENT_SECRET=
